<div class="registration-container">

  <h1>Create Account</h1>

  <form class="form-container" [formGroup]="registerForm" (ngSubmit)="register()">

    <app-input
      label="Email"
      placeholder="Enter your email"
      type="email" formControlName="email">
    </app-input>

    <app-input
      label="Name"
      placeholder="Enter your name"
      type="text" formControlName="name">
    </app-input>

    <app-input
      label="Password"
      placeholder="Enter your password"
      type="password" formControlName="password">
    </app-input>

    @if (commonError) {
      <p class="error-message">
        {{ commonError }}
      </p>
    }

    <app-button
      type="submit"
      [disabled]="isLoading"
      [text]="isLoading ? 'Registering...' : BUTTON_NAMES.REGISTER">
    </app-button>

    <p class="login-link">
      Already have an account?
      <a (click)="goToLogin()">Login here</a>
    </p>

  </form>
</div>
